@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
}

.home-page {
  background-image: url("./assets/towers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
